@page
@model MediaBazaarWeb.Pages.EmployeeModel
@{
}
<link rel="stylesheet" href="css/styles.css">
  <div class="container-search-bar">
         <form >
            <img src="~/css/images/Search.jpg" class="search-icon">
            <input type="text" placeholder="Who are you looking for?">
            <button type="submit">Search</button>
         </form>
    </div>

