@page
@model IndexModel
@{
    ViewData["Title"] = "Log In page";
}
<link rel="stylesheet" href="css/styles.css">
<div class="text-center">
   
   
    <div class="container-index">
        <img src="~/css/images/MediaBazzarLogo.png">
        <h1>MediaBazzar</h1>
        <p>Exactly what you need</p>

    </div>
</div>
