@page
@model MediaBazaarWeb.Pages.profileModel
@{
}
<link rel="stylesheet" href="css/styles.css">
  <div class="container">
        <div class="profile-box">
            <img src="~/css/images/menu.png" class="menu-icon">
            <img src="~/css/images/setting.png" class="setting-icon">
            <img src="/css/images/profile-pic.png" class="profile-pic">
            <h3>John Mitchel</h3>
            <p>Manager of MediaBazzar</p>
            <div class="social-media">
                <img src="~/css/images/instagram.png">
                <img src="~/css/images/telegram.png">
                <img src="/css/images/dribble.png">


            </div>
            <button type="button">Follow</button>
            <div class="profile-bottom">
                <p>Learn more about my profile</p>
                <img src="~/css/images/arrow.png">
            </div>
        </div>  
    </div>